@charset "UTF-8";

:root {
	--size14-8: 14px;
	--size18-9: 18px;
	--size18-12: 18px;
	--size20-13: 20px;
	--size22-11: 22px;
	--size22-12: 22px;
	--size24-10: 24px;
	--size24-12: 24px;
	--size26-11: 26px;
	--size26-13: 26px;
	--size32-14: 32px;
	--size32-16: 32px;
	--size36-18: 36px;
	--size50-20: 50px;
	--size60-25: 60px;
	--size65-26: 65px;
	--size80-36: 80px;
	--size110-49: 110px;
	--mrds: 12px;
}

@media (max-width: 1024px) {
	:root {
		--size14-8: var(--size8);
		--size18-9: max(var(--size9), 1.758vw);
		--size18-12: min(var(--size12), 18px);
		--size20-13: min(var(--size13), 20px);
		--size22-11: max(var(--size11), var(--vSize22));
		--size22-12: max(var(--size12), var(--vSize22));
		--size24-10: max(var(--size10), var(--vSize24));
		--size24-12: max(var(--size12), var(--vSize24));
		--size26-11: max(var(--size11), var(--vSize26));
		--size26-13: max(var(--size13), var(--vSize26));
		--size32-14: max(var(--size14), var(--vSize32));
		--size32-16: max(var(--size16), var(--vSize32));
		--size36-18: max(var(--size18), 3.516vw);
		--size50-20: max(var(--size20), var(--vSize50));
		--size60-25: max(var(--size25), 5.859vw);
		--size65-26: max(var(--size26), 6.348vw);
		--size80-36: max(var(--size36), 7.813vw);
		--size110-49: max(var(--size49), 10.742vw);
		--mrds: 6px;
	}
}

body {background: var(--primary);}
.ly_container * {letter-spacing: -0.01em;}

/* common */
.section {--mgt: clamp(80px, 21.333vw, 220px); color: #fff; overflow: hidden;}
.section + .section {margin-top: var(--mgt);}
.sec_header {display: flex; justify-content: center; margin-bottom: var(--size60-25);}
.el_heading {font-size: var(--size50-25); line-height: .75; font-weight: var(--font-bd); color: #fff; text-transform: uppercase;}
.section .btn_more {position: absolute; right: var(--pdd); top: 0; transform: translateY(25%);}
.anim_bg {position: absolute; inset: 0; z-index: -1; pointer-events: none;}
.el_ico.more {width: var(--size24-12); aspect-ratio: 1;}
.el_ico.more.w {background-image: url('../../images/common/ico_more_white.svg');}
.el_btn.btn1.type2 {--g: 0.4375em; --h: 2.125em; --cl: #fff; font-weight: var(--font-rg); font-size: var(--size16-12); gap: var(--g); padding: 0 var(--g); height: var(--h);}
.el_btn.btn1.type2 .el_ico {width: var(--size24-12);}

@media (max-width: 1024px) {
	.el_btn.btn1.type2 {--g: 0.4em;}
}

.sec_line {--fator: .4s; --start: translate(110%, -110%); opacity: 1; pointer-events: none;}
.sec_line::before,
.sec_line::after {content: "";}
.sec_line .line {--delay: var(--fator)}
.sec_line::before {--delay: calc(var(--fator) + .1s)}
.sec_line::after {--delay: calc(var(--fator) + .2s)}
.sec_line .line,
.sec_line::before,
.sec_line::after {position: absolute; inset: 0; background-repeat: no-repeat; background-size: contain;  background-position: 0 0; transform: var(--start); transform-origin: right 0; will-change: transform, opacity;}
.sec_line.anim .line,
.sec_line.anim::before,
.sec_line.anim::after {opacity: 0; transform-origin: right 0;} 
.sec_line.on .line,
.sec_line.on::before,
.sec_line.on::after {animation: lineAnim .4s var(--delay) var(--easing) both;}

@keyframes lineAnim {
	0% {
		transform: var(--start);
		opacity: 0;
	}
	100% {
		transform: translate(0, 0);
		opacity: 1;
	}
}

.thumb_hover .overlay .sec_line {--fator: 0s; --delay:.2s; position: absolute; z-index: 1; width: 36%; aspect-ratio: 1 / 1.5584; overflow: hidden; right: 0; bottom: 0; opacity: .72; clip-path: polygon(0 0, 100% 0, 100% 66%, 0 66%); transform: translate(13.888%, var(--y, -16.072%));}
.thumb_hover .overlay .sec_line .line {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 154 240'%3E%3Cpath d='M133.41 0H154L19.94 163H0L133.41 0Z' style='fill:%23004fd1;fill-rule:evenodd;stroke-width:0'/%3E%3C/svg%3E");}
.thumb_hover .overlay .sec_line::before {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 154 240'%3E%3Cpath d='M137.77 47H149L66.88 147H56l81.77-100Z' style='fill:%23fff;fill-rule:evenodd;stroke-width:0'/%3E%3C/svg%3E");}
.thumb_hover .overlay .sec_line::after {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 154 240'%3E%3Cpath d='M110.22 114H126L21.28 240H6l104.22-126Z' style='fill-rule:evenodd;stroke-width:0;fill:%23ff000a'/%3E%3C/svg%3E");}

@media (min-width: 1025px) {
	.thumb_hover:is(:hover, :focus-visible) .sec_line .line,
	.thumb_hover:is(:hover, :focus-visible) .sec_line::before,
	.thumb_hover:is(:hover, :focus-visible) .sec_line::after {animation: lineAnim .4s var(--delay) var(--easing) both;}
}

@media (max-width: 1024px) {
	.thumb_hover .overlay .sec_line {top: 50%;}
	.thumb_hover .sec_line .line,
	.thumb_hover .sec_line::before,
	.thumb_hover .sec_line::after {opacity: 1; transform: translate(0, 0);}
}

/* visual */
.sec_visual {height: 100vh; max-height: 951px;}
.visual_slider {--paging: 135px; --fa: 1.45; height: 100%; --swiper-pagination-bullet-inactive-opacity: 1; --swiper-pagination-bullet-height: auto; --swiper-pagination-bullet-width: auto; --swiper-pagination-bullet-inactive-color: transparent; --swiper-pagination-bullet-horizontal-gap: 0;}
.visual_slider .item {display: grid; grid-template-areas: "main"; grid-template-columns: 1fr; grid-template-rows: 1fr; width: 100%; height: 100%; overflow: hidden;}
.visual_slider :is(.el_img, .content)  {grid-area: main;}
.visual_slider .content {padding: var(--header) 0 var(--paging); position: relative; transform: translateZ(0);}
.visual_slider .content .ly_inner {--max: 1484px; display: flex; align-items: center; height: 100%; transform: translateY(var(--y, -25px));}
.visual_slider .content .tit {--fz: min(64px, 3.3334vw * var(--fa)); --fw: 90%; --fmax: calc(var(--fz) * 11.25); font-size: var(--fz); font-weight: var(--font-exbd); width: var(--fw); max-width: var(--fmax); font-style: italic; position: relative;} /* 1920 - font: 64 / max:720 */
.visual_slider .content .tit::before {content: ""; position: absolute; left: 0; top: 0; width: calc(var(--fz) * 8.7813); aspect-ratio: 1/0.18684; background: url('../../images/img/mainBanner_light.png') no-repeat center/100% 100%; z-index: -1; transform: translate(-6%, -12%);} /* w: 562 / h: 105 */

.visual_slider .swiper-pagination {display: flex; justify-content: center; bottom: 0; gap: var(--g, 22px); padding: 0 var(--pdd); text-align: left; height: var(--paging);}
.visual_slider .swiper-pagination-bullet {--w: 397px; --h: 2px; --color: #a2a2a2; --size: 20px; width: var(--w); border-radius: initial; background: none;}
.visual_slider .swiper-pagination-bullet-active {--h: 100%; --color: #fff;}
.visual_slider .swiper-pagination .bar {display: block; height: 6px; position: relative; margin-bottom: var(--size);}
.visual_slider .swiper-pagination .bar::before,
.visual_slider .swiper-pagination .bar::after {content: ""; position: absolute; left: 0; bottom: 0; width: 100%; height: var(--h); transform-origin: 0 bottom; transition: height .2s ease-out;}
.visual_slider .swiper-pagination .bar::before {background: #a3a3a3;}
.visual_slider .swiper-pagination .bar::after {z-index: 1; background: #fff; transform: scaleX(0); transform-origin: 0 0;}
.visual_slider .swiper-pagination-bullet-active .bar::after {z-index: 1; background: #fff; transform: scaleX(0); animation: progress var(--duration) linear both;}
.visual_slider .swiper-pagination .tit {--mg: -.25em; font-size: var(--size); line-height: 1.4; color: var(--color); font-weight: var(--font-md); margin: var(--mg) 0; overflow: hidden; white-space: normal; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; width: 95%; }

.visual_slider .sec_line {position: absolute; right: calc(var(--pdd) - 7px); bottom: 0; width: min(340px, 17.708vw * var(--fa)); aspect-ratio: 1 / 1.5584; z-index: -1;}
.visual_slider .sec_line .line {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 154 240'%3E%3Cpath d='M133.41 0H154L19.94 163H0L133.41 0Z' style='fill:%23004fd1;fill-rule:evenodd;stroke-width:0'/%3E%3C/svg%3E");}
.visual_slider .sec_line::before {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 154 240'%3E%3Cpath d='M137.77 47H149L66.88 147H56l81.77-100Z' style='fill:%23fff;fill-rule:evenodd;stroke-width:0'/%3E%3C/svg%3E");}
.visual_slider .sec_line::after {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 154 240'%3E%3Cpath d='M110.22 114H126L21.28 240H6l104.22-126Z' style='fill-rule:evenodd;stroke-width:0;fill:%23ff000a'/%3E%3C/svg%3E");}

/* motion */
.visual_slider .el_img img {transform: scale(1.3); opacity: 0.5; transition: 3s var(--easing-out);  transition-property: transform, opacity; transform-origin: 80% 20%;}
.visual_slider .anim .el_img img {transform: scale(1); opacity: 1; transform-origin: 80% 20%;}
.visual_slider .anim .content .tit {animation: fadeUp 1s .2s var(--easing-out) both;}
.visual_slider .anim .sec_line .line,
.visual_slider .anim .sec_line::before,
.visual_slider .anim .sec_line::after {animation: lineAnim .4s var(--delay) var(--easing) both;}

@media (max-width: 1024px) {
	.sec_visual {height: 122.667vw; max-height: 100vh; min-height: 460px;}
	.visual_slider {--paging: 8.261%; --fa: .9;}
	.visual_slider .content .ly_inner {--y: 5px;}
	.visual_slider .content .tit {--fz: clamp(19.5px, 5.2vw, var(--size40));}
	.visual_slider .swiper-pagination {--g: 2.4vw; justify-content: flex-start;}
	.visual_slider .swiper-pagination-bullet {--w: 16vw;}
	.visual_slider .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {--h: 1px;}
	.visual_slider .swiper-pagination .bar {height: 3px;}

	.visual_slider .sec_line {width: 26%; right: calc(var(--pdd) - 12px);}
}

@keyframes progress {
	0% { transform: scaleX(0);}
	100% { transform: scaleX(1);}
}

/* News */
.news_slider {--fsz: var(--size20-13);}
.news_slider .swiper-wrapper {height: auto;}
.news_slider .overlay .tit {--mg: -.25em; font-size: var(--fsz); line-height: 1.5; font-weight: var(--font-semi); margin: var(--mg) 0; overflow: hidden; white-space: normal; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-break: break-all;} 
.news_slider .thumb {aspect-ratio: 1/0.9775;}
.news_slider .thumb img {-o-object-position: center 18%; object-position: center 18%;}

@media (min-width: 1025px) {
	.news_slider .overlay {display: grid; grid-template-areas: "." "cont"; grid-template-columns: 1fr; grid-template-rows: auto min-content;}
	.news_slider .overlay .cont {grid-area: cont; padding: 30px;}
	.news_slider .swiper-controls {margin-top: 40px;}
	.news_slider .thumb_hover {/* border-radius: var(--mrds); */ clip-path: inset(0 round var(--mrds));}
}

@media (max-width: 1024px) {
	.news_slider .swiper-controls {display: none;}
	.news_slider .overlay .cont {margin-top: var(--fsz);}
	.news_slider .overlay .tit {--mg: -.2em; line-height: 1.385;}
	.news_slider .swiper-slide {width: var(--w, 36%) !important;}
	.news_slider .swiper-slide:not(:last-child) {margin-right: var(--size20-10);}
	.news_slider .thumb {border-radius: var(--mrds); aspect-ratio: 1/0.9751;}
} 

@media (max-width: 575px) {
	.news_slider .swiper-slide {--w: 53.732%;}
}

/* Game */
.sec_game  {overflow: visible;}
.team_ranking {--tit: var(--size24-10); --pl: 40px; --pr: 40px; --h: 110px; --mr: 80px; width: 90%; max-width: 1030px; height: var(--h); background: var(--darkblue02); clip-path: polygon(calc(var(--h) * 0.273) 0%,  100% 0%, 100% 100%, 0 100%, 0% calc(var(--h) * 0.273)); display: flex; align-items: center; padding-left: var(--pl); padding-right: var(--pr); position: relative; margin-left: auto;} 
.team_ranking .tit {flex-shrink: 0; font-size: var(--tit); line-height: 1.3334; font-weight: var(--font-bd); font-style: italic; padding-right: var(--mr); position: relative; height: 100%; display: flex; align-items: center;}
.team_ranking .line {height: 100%; position: absolute; top: 0; right: 0; transform: translateX(18%); pointer-events: none;}
.team_ranking .emblem {flex-shrink: 0; width: 101px; margin-right: 22px;}
.team_ranking .record {flex-grow: 1; display: flex; align-items: center;}
.team_ranking .ranking {--size: var(--size26-11); --fa: 2.077; flex-shrink: 0; font-size: var(--size); line-height: calc(var(--size) * var(--fa)); font-weight: var(--font-md); margin-right: min(75px, 3.906vw * 1.5);} /* 1920 - mr: 75 */
.team_ranking .ranking .num {font-size: 2.077em; font-weight: var(--font-semi); line-height: 1;}
.team_ranking .record_list {flex-grow: 1; display: flex; gap: min(68px, 3.542vw * 1.5); font-size: var(--size22-11); line-height: 1; white-space: nowrap;} /* 1920 - gap: 68 */
.team_ranking .btn_more {position: static; transform: translateY(0);}

@media (min-width: 1025px) {
	.team_ranking_area {margin-bottom: -62px;}
}

@media (max-width: 1199px) {
	.team_ranking {width: calc(100% + var(--pdd)); margin-right: calc(var(--pdd) * -1);}
}

@media (max-width: 1024px) {
	.team_ranking {--pl: min(4.533vw, 40px); --pr: min(2.667vw, 40px); --h: clamp(49.5px, 13.2vw, var(--size65));}
	.team_ranking * {letter-spacing: -0.025em;}
	.team_ranking .tit {--mr: 9.467vw;}
	.team_ranking .emblem {width: max(33.5px, 8.933vw); margin-right: var(--size10);}
	.team_ranking .ranking {--fa: 2.0455; margin-right: 3.467vw;}
	.team_ranking .record_list {gap: 4vw; margin-right: 4vw;}
}

@media (max-width: 575px) {
	.team_ranking .record_list {gap: 2vw; margin-right: 2vw;}
	.team_ranking .record_list > li {flex-grow: 1;}
}

.game_list_area {--fa: 1.55; --pt: min(8.75vw * var(--fa), 168px); padding-top: var(--pt); background: url('../../images/img/main_game_list_bg.jpg') no-repeat center 0; background-size: min(130vw, 1920px) auto; /* overflow: hidden; */}
.game_list_area .game_tit {--pt: 1em; --mb: min(3.854vw * var(--fa), 74px); display: flex; justify-content: center; padding: var(--pt) 0; margin: calc(var(--pt) * -1 ) 0; margin-bottom: calc(var(--mb) - var(--pt)); }
.game_list_area .game_tit .txt {display: block;}
.game_list_area .game_tit .inner {display: block; position: relative; transform: translateZ(0);}
.game_list_area .game_tit .inner::after {content: ""; position: absolute; left: 50%; top: 50%; width: 126.112%; height: 130.77%; background: url('../../images/img/main_game_title_light.png') no-repeat center/100% 100%; transform: translate(-50%, -55%); z-index: -1;}
.game_list_area .game_tit .txt {width: 97.015%; max-width: 720px;}

@media (min-width: 1921px) {
	.game_list_area {background-size: cover;}
}
@media (min-width: 1025px) {
	.game_list_area .game_tit .txt {width: 80%; max-width: 1080px;}
}
@media (max-width: 1024px) {
	.game_list_area {--pt: max(var(--size30), 8.008vw); background: none;} /* 1024 - 82 */
	.game_list_area .game_tit {--mb: max(var(--size28), 7.227vw);} /* 1024 - 74 */
}

.game_list {--fa: 0.7; --h: 380px; --odd: clamp(14.5px, 3.867vw * var(--fa), 29px); --logo: min(7.292vw, 140px); opacity: 1;} 
.game_list .item {height: var(--h); background: var(--darkblue02); border-radius: var(--mrds); overflow: hidden; display: grid; grid-template-areas: "header" "content" "footer"; grid-template-columns: 1fr; grid-template-rows: min-content 1fr min-content; position: relative; transform: translateZ(0); opacity: 0;}
.game_list .item:nth-child(odd) {margin-top: var(--odd);}
.game_list .item:nth-child(even)::before {content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 72.3685%; background: #0d4fa6; z-index: -1; transform-origin: 0 bottom; transform: skewY(-14.5deg);}
.game_list.on .item {animation: fadeUp var(--dur) var(--delay) var(--easing-out) both;}
.game_list .item:nth-child(1) {--delay: 0.4s;}
.game_list .item:nth-child(2) {--delay: 0.2s;}
.game_list .item:nth-child(3) {--delay: 0.6s;}
.game_header {--fsz: var(--size26-13); --isz: var(--size40-20); grid-area: header; height: calc(var(--h) * 0.34211); padding: 0 var(--isz); display: flex; align-items: center;}
.game_header .day {flex-shrink: 0; font-size: var(--fsz); line-height: 1;}
.game_header .day em {font-weight: var(--font-bd);}
.game_header .line {flex-grow: 1; display: block; height: 1px; background: #fff; margin: 0 var(--size18-9); opacity: .2;}
.game_header .i {flex-shrink: 0; display: flex; justify-content: center; align-items: center; width: var(--isz); aspect-ratio: 1; font-size: var(--size18-9); line-height: 1; font-weight: var(--font-semi); border: 1px solid #fff; border-radius: 50%;}
.game_header .i.away {opacity: 0.5;}
.game_header .i.away::after {content: "A";}
.game_header .i.home::after {content: "H";}
.game_content {grid-area: content; text-align: center;} 
.game_content .place {grid-area: place; font-size: var(--size16-10); line-height: 1; opacity: 0.6;}
.game_content .teams {display: grid; grid-template-areas: "teaml state teamr"; grid-template-columns: 1fr min-content 1fr; align-items: center; margin-top: -24px;}
.game_content .team {position: relative;}
.game_content .team.lt {grid-area: teaml;}
.game_content .team.rt {grid-area: teamr;}
.game_content .team .logo {width: var(--logo); aspect-ratio: 1; margin: 0 auto;}
.game_content .team .logo img {width: 100%; height: 100%; -o-object-fit: contain; object-fit: contain;}
.game_content .team .name {font-size: var(--size16-10); line-height: 1; font-weight: var(--font-sm); position: absolute; left: 0; top: 100%; width: 100%; margin-top: -2px;}
.game_content .state {min-width: calc(var(--size24-12) * 5.8334); grid-area: state; white-space: nowrap; position: relative; transform: translateY(5px);}
.game_content .score {--scSize: var(--size36-18); display: flex; justify-content: center; align-items: center; font-size: var(--scSize); line-height: 1; margin-top: -3px;}
.game_content .score span {display: inline-block;}
.game_content .score span:not(.win):not(.vs) {opacity: 0.5;}
.game_content .score span.num {width: 1.1384em; display: inline-flex;}
.game_content .score span.num.lt {justify-content: flex-end;}
.game_content .score span.num.rt {justify-content: flex-start;}
.game_content .score .vs {font-size: var(--size22-11); font-weight: var(--font-md); margin: 0 calc(var(--size22-11) * 1.364);}
.game_content .score .win {font-weight: var(--font-bd);}
.game_content .btn_ticket {--btnSz: var(--size24-12); font-size: var(--btnSz); font-weight: var(--font-semi); color: #fff; background: #f20c0c; border-radius: 6px; width: calc(var(--btnSz) * 5.8334); height: calc(var(--btnSz) * 1.9167); box-shadow: 2px 3px 4px 0 rgba(255,255,255,0.1);}
.game_content :is(.time, .broad) {position: absolute; left: 0; top: 100%; width: 100%;}
.game_content .time {font-size: var(--size22-12); line-height: 1; font-weight: var(--font-md); margin-top: 0.7273em;}
.game_content .broad {font-size: var(--size14-8); line-height: 1; font-weight: var(--font-rg); opacity: 0.6; margin-top: 3.7856em;}
.game_footer {grid-area: footer; height: calc(var(--h) * 0.2053); display: flex; justify-content: center; align-items: center}
.game_footer p {font-size: var(--size16-10); line-height: 1; opacity: 0.6;}
.game_list .item .no_game {position: absolute; inset: 0;}

@media (min-width: 1401px) {
	.game_list .inner {display: grid; gap: min(2.344vw, 45px); grid-template-columns: repeat(3, 1fr);} 
	.game_content .score {font-size: min(1.875vw * 1.2, 36px);}
	.game_content .score .vs {margin: min(1.563vw, 30px);}
}

@media (max-width: 1400px) {
	.game_list {--logo: min(18.667vw, 140px);}
	.game_list {width: 85.075%; max-width: 570px; margin: 0 auto;}
}

@media (min-width: 1025px) {
	.game_content .teams {height: 140px;}
	.game_content .place {padding-top: 2px;}
}

@media (max-width: 1024px) {
	.game_list {--h: clamp(190px, 50.667vw, 380px);}
	.game_content .place {padding-top: -1px;} 
	.game_content .teams {margin-top: -14px;}
	.game_content .team .name {margin-top: -0.3em;}
	.game_content .time {margin-top: 0.75em;}
	.game_content .broad {margin-top: 3.25em;}
	.game_content .btn_ticket {border-radius: 3px;}
	.game_footer {grid-area: footer; height: calc(var(--h) * 0.2158);}
	/* .game_footer .btn_area.wrap {gap: 0.077rem;} */
}

/* Ranking */
.sec_ranking {--fa1: 1.6; --fa2: 0.7; --min: calc(1800px - var(--scrollbar)); text-transform: uppercase;}
.sec_ranking .swipearea {margin: 0 calc(var(--pdd) * -1); padding: 0 var(--pdd);}
.sec_ranking .inner {min-width: var(--min);}
.ranking_list {--head: 314px; --h: 569px; height: var(--h); display: grid; grid-template-areas: "tit item1 item2 item3"; grid-template-columns: min-content 1fr 1fr 1fr; border-radius: var(--mrds); overflow: hidden; background: url('../../images/img/main_ranking_bg.jpg') no-repeat center/cover; position: relative; transform: translateZ(0);}
.ranking_list :is(.tit_area, .item) {position: relative;}
.ranking_list :is(.tit_area, .item)::before {content: ""; position: absolute; inset: 0; transform-origin: 0 0; transform: skewX(-12.6deg); z-index: -1;}
.ranking_list .tit_area {grid-area: tit; width: var(--head);}
.ranking_list .item:nth-of-type(2) {grid-area: item1;}
.ranking_list .item:nth-of-type(3) {grid-area: item2;}
.ranking_list .item:nth-of-type(4) {grid-area: item3;}

.ranking_list .tit_area {--pt: 65px; --pl: 21.0192%; padding: var(--pt) var(--pl); }
.ranking_list .tit_area::before {background: #436cd1; mix-blend-mode: color-burn; opacity: 0.6;}
.ranking_list .tit_area .tit {--mg: -.25em; font-size: var(--size26-13); line-height: 1.231; font-weight: var(--font-bd); font-style: italic; letter-spacing: 0; color: #0d3d7f; margin: var(--mg) 0;}
.ranking_list .tit_area .icon {width: 63.737%; opacity: 0.6; margin-top: var(--size32-16);}
.ranking_list .tit_area .el_btn {top: initial; right: initial; bottom: calc(var(--pt) * 0.877); left: 30.255%; transform: translateY(0);}

.ranking_list .item {--pl: 22.074%; display: grid; grid-template-areas: "header" "content" "footer"; grid-template-columns: 1fr; grid-template-rows: min-content auto min-content; color: #fff; position: relative; white-space: nowrap;}
.ranking_list .item::before {border-left: 5px solid #e3e9ff; mix-blend-mode: overlay;}
.ranking_list .item:nth-of-type(2)::before {border-color: #020e51; opacity: 0.1;}
.ranking_list .item::after {content: ""; position: absolute; left: calc(var(--pl) * -1.3) ; top: 0; height: 100%; width: 218.182%; background: url('../../images/img/main_raning_light.png') no-repeat 0 0 /cover; z-index: -1; mix-blend-mode: screen; pointer-events: none;}
.ranking_list .header {/* --fsz: var(--size17-10); */ --fsz: var(--size17-13); --mt: calc(var(--fsz) * 0.9412); --ml: 83px; grid-area: header; height: calc(var(--h) * 0.1705); display: flex; justify-content: flex-end; align-items: flex-end; padding: var(--mt) var(--ml);}
.ranking_list .cate {font-size: var(--fsz); line-height: .7; /* font-weight: var(--font-sm); */ font-weight: var(--font-bd); letter-spacing: 0;}
.ranking_list .content {--rt: 4.4042%; --top: 10.8861%; grid-area: content; position: relative; margin-right: var(--pl); text-align: center;}
.ranking_list .content::after {content: ""; position: absolute; right: var(--rt); top: var(--top); width: 31.8653%; aspect-ratio: 1/0.95935; background: url('../../images/img/main_raning_badge.png') no-repeat center/contain; z-index: 1; pointer-events: none;}
/* .ranking_list .player {width: 100%; height: 100%; -o-object-fit: contain;object-fit: contain; pointer-events: none; position: absolute; inset: 0; transform: scale(1.14) translate(-0.6%, -5.5%); } */
.ranking_list .player {width: 100%; height: 100%; -o-object-fit: contain;object-fit: contain; pointer-events: none; position: absolute; inset: 0; transform-origin: center bottom; transform: scale(1.35) translate(-0.6%, 2%);}
.ranking_list .content p {position: absolute; left: 0; width: 100%; letter-spacing: 0; font-weight: var(--font-exbd);}
.ranking_list .content .div {font-size: var(--size80-36); line-height: .7; color: #b7d2ff; bottom: 40.5064%; z-index: -1;}
.ranking_list .content .rec {font-size: var(--size110-49); line-height: .7; bottom: 7.342%; z-index: 1;}
.ranking_list .footer {grid-area: footer; height: calc(var(--h) * 0.1371); margin-right: var(--pl); display: flex; justify-content: center; /* font-size: var(--size20-10); */font-size: var(--size20-13); line-height: .8; /* font-weight: var(--font-md); */ font-weight: var(--font-bd); letter-spacing: -0.025em; gap: .5em; padding-top: .2em;}
.ranking_list .footer .name {margin-left: .2em;}

@media (min-width: 1025px) {
	.ranking_list .item::after {opacity: 0.5; transition: opacity .6s var(--easing-out);}
	.ranking_list .item:hover::after {opacity: 1;}
}

@media (max-width: 1024px) {
	.sec_ranking {--fa1: 0.8; --min: max(215.733vw * var(--fa1), 808px);}
	.ranking_list {--head: max(37.333vw * var(--fa1), 140px); --h: clamp(256px, 68.267vw * var(--fa1), var(--size365));}
	.ranking_list .content::after {width: 32.37%;}
	.ranking_list .tit_area {--pt: var(--size65-26); --pl: 16.786%;}
	.ranking_list .tit_area .el_btn {bottom: calc(var(--pt) * 0.827); left: 26.4286%;}
	.ranking_list .item::before {border-width: 3px;}
	.ranking_list .header {--mt: calc(var(--fsz) * 0.75); --ml: max(6.933vw * var(--fa1), 26px);}
	/* .ranking_list .player {transform: scale(1.35) translate(-0.6%, -11%);} */
}

/* Media */
.sec_media::after {--btm: clamp(80px, 21.333vw, 220px); content: ""; position: absolute; left: 0; bottom: calc(var(--btm) * -1); width: 100%; height: min(880px, 45.833vw * 1.4); background: url('../../images/img/main_media_bg.jpg') no-repeat center/cover; z-index: -1; transform: translateY(28.41%);}
@media (min-width: 1921px) {
	.sec_media::after {background-size: contain;}
}
@media (max-width: 1400px) {
	.sec_media::after {height: max(80vw * 0.8, 300px); transform: translateY(55%); background-position: 48% center;}
}
.sec_media {--rgap: min(2.083vw * 1.1, 40px); --cgap: min(2.083vw * 1.1, 40px); overflow: visible; position: relative;}
.sec_media .atc2 {padding: 100px 0;}
.sec_media .atc2 .anim_bg {background: #09256c;}
.sec_media .btn_area {margin-top: 74px;}
.media_area {display: grid; grid-template-areas: "youtube shorts" "photo shorts"; gap: var(--rgap) var(--cgap); grid-auto-columns: 1fr min-content;}
.media_list .item {--ratio: 1 / 0.56221; position: relative;}
.media_list .box {--iw: 10.0788%; --iratio: 1 / 0.7032; --y: 35.55%; display: block;  position: relative;}
.media_list .box::after {content: ""; position: absolute; left: min(1.563vw * 1.2, 30px); bottom: 0; background-repeat: no-repeat; background-size: contain; transform: translateY(var(--y, 0)); width: var(--iw); aspect-ratio: var(--iratio);}
.media_list .thumb {border-radius: var(--mrds);}
.media_list .thumb .inner {display: block;}
.media_list .tit {--mg: -.35em; font-size: var(--size20-13); line-height: 1.6; font-weight: var(--font-semi); margin: var(--mg) 0; margin-top: calc(1.5em + var(--mg)); overflow: hidden; text-overflow: ellipsis; white-space: normal; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.media_list.youtube {grid-area: youtube; display: flex; gap: var(--cgap);}
.media_list.youtube .item {flex: 1;}
.media_list.youtube .box::after {background-image: url('../../images/common/ico_youtube.svg');}
.media_list.photo {--rgap2: calc(var(--rgap) * 0.85); display: grid; grid-template-areas: 'box1 box2 box3' '. box4 box5'; grid-template-columns: repeat(3, 1fr); gap: var(--rgap2) var(--cgap); grid-auto-flow: row dense; position: relative; align-self: start;}
.media_list.photo .item {grid-row: auto / span 1;}
.media_list.photo .item:nth-child(1) {grid-area: box1; --ratio: 1 / 1.5;}
.media_list.photo .item:nth-child(2) {grid-area: box2; --ratio: 1 / 0.66342;}
.media_list.photo .item:nth-child(3) {grid-area: box3; --ratio: 1 / 1.41464;}
.media_list.photo .item:nth-child(4) {grid-area: box4; --ratio: 1 / 1.12196;}
.media_list.photo .item:nth-child(5) {grid-area: box5; --ratio: 1 / 0.6683;}
.media_list.photo .item:nth-child(odd) {grid-row: auto / span 3;}
.media_list.photo .item:nth-child(even) {grid-row: auto / span 2;}
.media_list.shorts {--rgap2: calc(var(--rgap) * 1.175); grid-area: shorts; display: flex; gap: var(--rgap2);}
.media_list.shorts .box {--iw: 16.2163%; --iratio: 1 / 1.2334; --y: 29.73%;}
.media_list.shorts .box::after {background-image: url('../../images/common/ico_shrots.png');}
.media_list.shorts .item:nth-child(1) {--ratio: 1 / 1.7784;}
.media_list.shorts .item:nth-child(2) {--ratio: 1 / 1.7838;}

@media (min-width: 1401px) {
	.media_list.shorts {width: min(19.271vw, 370px);}
}
@media (max-width: 1400px) {
	.media_area {grid-template-areas: "youtube youtube" "photo shorts"; grid-auto-columns: auto calc(25% - var(--cgap));}
}
@media (min-width: 1025px) {
	.media_list .item {opacity: 1;}
}
@media (max-width: 1024px) {
	.media_list .item.on {animation: fadeUp var(--dur) var(--delay) var(--easing-out) both;}
}
@media (min-width: 992px) {
	.media_list.photo .item:nth-child(5) {position: absolute; top: calc(var(--top) + var(--rgap));}
}
@media (max-width: 991px) {
	.sec_media {--rgap: max(3.733vw, 14px); --cgap: max(2.667vw, 10px);}
	.media_area {grid-auto-columns: auto calc(33.3333% - var(--cgap));}
	.media_list .tit {--mg: -.2em; line-height: 1.385; margin-top: calc(0.7693em + var(--mg));}
	.media_list.photo {--rgap2: var(--rgap); grid-template-areas: 'box1 box2' ' box3 box4'  '.box5'; grid-template-columns: repeat(2, 1fr); }
	.media_list.shorts {gap: var(--cgap);}
} 
@media (min-width: 768px) {
	.media_list.shorts {flex-direction: column; gap: var(--cgap);} 
}
@media (max-width: 767px) {
	.media_area {grid-template-areas: "youtube" "shorts" "photo"; grid-auto-columns: 1fr;}
	.media_list .box {--iw: max(6.4vw, 24px); --y: 23.53%; }
	.media_list.youtube .box::after {left: max(1.6vw, 6px);}
	.media_list.youtube {flex-direction: column; gap: var(--rgap);}
	.media_list.shorts .box {--iw: max(5.333vw, 20px); --y: 16.33%;}
}

/* Goods */
.sec_goods .col {position: relative;}
.sec_goods .best {--fsz: var(--size36-18); background: var(--darkblue02); border-radius: var(--mrds); overflow: hidden;}

@media (min-width: 1401px) {
	.sec_goods {--best: min(14.063vw * 1.3, 270px); --gap: 20px;}
	.sec_goods .content {display: grid; grid-template-areas: "goods best"; grid-template-columns: 1fr min-content; gap: var(--gap);}
	.sec_goods .goods {grid-area: goods; min-width: 100%; margin-top: 47px;}
	.sec_goods .best {grid-area: best; width: var(--best); text-align: center; height: 440px;}
	.sec_goods .btn_more {margin-right: calc(var(--best) + var(--gap));}
}

.sec_goods .name {--mg: -.26em; font-size: var(--size18-12); line-height: 1.5556; font-weight: var(--font-md); color: #d1d1d1; overflow: hidden; text-overflow: ellipsis; word-break: break-all; white-space: normal; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; margin: var(--mg) 0;}  
.sec_goods .price {font-size: var(--size20-13); line-height: 1; font-weight: var(--font-bd); margin-top: 20px;} 

.goods_list {--mr: 20px;}
.goods_list .thumb {aspect-ratio: 1; background: #f2f2f2; border-radius: var(--mrds);}
.goods_list .info {margin-top: var(--size26-11);}
.goods_list .price {margin-top: 1em;} 

.sec_goods .best .tit {line-height: .8; font-size: var(--fsz); font-weight: var(--font-bd); text-transform: uppercase;}
.bset_list {text-align: center; position: static;}
.bset_list .thumb {aspect-ratio: 1/0.8519; overflow: hidden;}

@media (min-width: 1401px) {
	.sec_goods .best {padding-top: 27px;}
	.bset_list .info {padding: 0 1rem;}
	.bset_list .name {font-size: 20px; line-height: 28px;}  
	.bset_list .price {font-size: 24px; margin-top: 24px;} 
	.bset_list .swiper-pagination {bottom: 30px;}
}

@media (max-width: 1400px) {
	.sec_goods .best {--h: 140px; --pl: calc(var(--fsz) * 1.7778); display: flex; align-items: center; padding-left: var(--pl); height: var(--h); margin-bottom: var(--size20-10);}
	.bset_list .item {display: flex; align-items: center; }
	.bset_list .thumb {flex-shrink: 0; width: 48.65%; max-width: clamp(126px, 33.6vw * 0.6, 220px); height: var(--h); aspect-ratio: inherit;}
	.bset_list .thumb img {-o-object-fit: contain;object-fit: contain;}
	.bset_list .info {flex: 1; text-align: left; padding: 0; padding-right: var(--pl);}
	.bset_list .price {margin-top: 0.8462em;} 
	.bset_list .swiper-pagination {display: none;}
}

@media (max-width: 1024px) {
	.sec_goods .best {--h: clamp(100px, 26.667vw, var(--size85));}
	.sec_goods .name {--mg: -.15em; line-height: 1.1667;}
	.goods_list .swiper-slide {width: var(--w, 27%) !important;}
	.goods_list .swiper-slide:not(:last-child) {margin-right: var(--size20-10);}
	.goods_list .price {margin-top: 0.5385em;} 
}

@media (max-width: 575px) {
	.goods_list {--mr: 20px;}
	.goods_list .swiper-slide {--w: 40%;}
	.sec_goods .best {--pl: 9.56%;}
	.bset_list .thumb {width: 48.65%;}
}

/* Banners */
.sec_banners {display: grid; grid-template-areas: "sns history" "sponsor brand";}
.sec_banners .col_sns {grid-area: sns;}
.sec_banners .col_history {grid-area: history;}
.sec_banners .col_sponsor {grid-area: sponsor;}
.sec_banners .col_brand {grid-area: brand;}
.sec_banners .col {position: relative; overflow: hidden;}
.sec_banners .box {--color: #fff; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%; color: var(--color); text-align: center; position: relative; z-index: 10; overflow: hidden; padding-left: var(--pdd); padding-right: var(--pdd);}
.sec_banners .txt_sm {font-size: var(--size22-11); line-height: 1; font-weight: var(--font-md); font-style: italic;}
.sec_banners .txt_lg {font-size: var(--size50-20); line-height: 1; margin: -.16em 0; text-transform: uppercase;}
.sec_banners .txt_lg em {font-weight: var(--font-exbd);}
.sec_banners .txt_md {--mg: -.3em; font-size: var(--size32-14); line-height: 1.5625; font-weight: var(--font-semi); margin: var(--mg) 0;}
.sec_banners .tag {font-size: 56px; line-height: 1; font-style: italic; letter-spacing: 0;}
.sec_banners .tag em {font-weight: var(--font-bd); font-style: inherit; letter-spacing: inherit;}
.sec_banners .tag + .txt_sm {margin-top: var(--size26-13);}
.sec_banners .txt_lg + .txt_sm {margin-top: 29px;}
.sec_banners .sns .el_ico {width: clamp(31px, 8.267vw * 0.5, 40px); margin-bottom: var(--size22-11);}
.sec_banners .sns .txt_sm {opacity: .6;}
.sec_banners .history .txt_sm {opacity: 0.8;}
.sec_banners .brand .logo {width: 107px; display: block; margin-top: clamp(15px, 4vw, 38px); filter: drop-shadow(5px 2px 15px rgba(255,255,255,.2));}
.sec_banners .brand .logo img {width: 100%;}
.sec_banners .sponsor {/* background: #162666; */ background: #15317f;} 
.sec_banners .box.on .anim2 {--delay: .2s; --dist: 60px; animation: fadeUp var(--dur) var(--delay) var(--easing-out) both;}
.sponsor_list {--rgap: min(3.125vw * 1.2, 60px); --cgap: min(2.604vw, 50px); --col: 4; display: grid; grid-template-columns: repeat(var(--col), 1fr); gap: var(--rgap) var(--cgap); opacity: 1;}
.sponsor_list > li {max-width: 180px; opacity: 0;}
.sponsor_list.on > li {animation: fadeUp var(--dur) var(--delay) var(--easing-out) both;}
.sponsor_list > li:nth-child(n + 5):nth-child(-n + 8) {--delay: .15s;}
.sponsor_list > li:nth-child(n + 9) {--delay: .3s;}

@media (min-width: 1025px) {
	.sec_banners {display: grid; grid-template-columns: repeat(2, 1fr); grid-template-rows: 560px 540px;}
	.sec_banners .sns {padding-bottom: 20px;}
	.sec_banners .brand {padding-bottom: 10px;}
}

@media (min-width: 1025px) and (max-width: 1400px) {
	.sponsor_list {--col: 3; width: 90%;}
	.sponsor_list > li:nth-child(n + 4):nth-child(-n + 6) {--delay: .15s;}
	.sponsor_list > li:nth-child(n + 7):nth-child(-n + 9) {--delay: .3s;}
	.sponsor_list > li:nth-child(n + 10) {--delay: .45s;}
}

@media (max-width: 1024px) {
	.sec_banners {grid-template-areas: "sns" "history" "brand" "sponsor" ;}
	.sec_banners .tag {font-size: clamp(22.4px, 5.973vw, 56px);}
	.sec_banners .box {min-height: max(150px, 40vw); padding-top: var(--size30); padding-bottom: var(--size30);}
	.sec_banners .txt_md {line-height: 1.4286;}
	.sec_banners .txt_lg + .txt_sm {margin-top: 1.091em;}
	.sponsor_list {--rgap: max(20px, 5.334vw * 0.6); --cgap: max(49px, 13.067vw * 0.6); width: 93.732%;}
	.sponsor_list > li {max-width: clamp(72px, 19.2vw, var(--size90));}
	.sec_banners .brand .logo {width: max(var(--size43), 10.449vw);}
}

@media (max-width: 575px) {
	.sec_banners .txt_md {--mg: -.2em;}
	.sponsor_list {--col: 3;}
	.sponsor_list > li:nth-child(n + 4):nth-child(-n + 6) {--delay: .15s;}
	.sponsor_list > li:nth-child(n + 7):nth-child(-n + 9) {--delay: .3s;}
	.sponsor_list > li:nth-child(n + 10) {--delay: .45s;}
}

@media (max-width: 359px) {
	.sponsor_list {--col: 2;}
	.sponsor_list > li:nth-child(n + 3):nth-child(-n + 4) {--delay: .1s; }
	.sponsor_list > li:nth-child(n + 5):nth-child(-n + 6) {--delay: .2s;}
	.sponsor_list > li:nth-child(n + 7):nth-child(-n + 8) {--delay: .3s;}
	.sponsor_list > li:nth-child(n + 9):nth-child(-n + 10) {--delay: .4s;}
	.sponsor_list > li:nth-child(n + 11) {--delay: .55s;}
}

/* popup */
.popup {position: fixed; inset: 0; z-index: 1000; display: none; pointer-events: none;}
.popup .back {position: absolute; inset: 0; z-index: 0; background: var(--dimmed01); pointer-events: auto;}
.popup .popup_inner {height: 100%; display: flex; align-items: flex-start;}
.popup_content {display: block; pointer-events: auto; position: relative; z-index: 10; box-shadow: var(--shadow2); overflow: hidden; max-width: 400px; background: #fff; pointer-events: all;}
.popup_slider {position: relative; }
.popup_slider .swiper-slide a {display: block;}
.popup_slider .swiper-pagination {bottom: 20px;} 
.popup_slider .swiper-pagination-bullet {opacity: 1;}
.popup_btns {display: flex; background: #fff; border-right: 1px solid var(--gray05);}
.popup_btns .el_btn {flex: 1; font-size: 14px; height: 42px; border-radius: 0; background: #fff ; color: var(--dark01);}
.popup_btns .el_btn + .el_btn {border-left: 1px solid var(--gray05);}


@media (min-width: 1025px) {
	.popup, .popup .popup_inner {pointer-events: none;}
	.popup .back {display: none;}
	.popup .popup_inner {padding-top: calc(var(--header) + 30px);}
}

@media (max-width: 1024px){
	.popup .popup_inner {justify-content: center; align-items: center;}
}

/* season skin */
[class*="skin"] .visual_slider {--skinw: 355px; --skinw: min(18.49vw * 1.5, 355px);}
[class*="skin"] .visual_slider .sec_line {display: none;}

[class*="skin"] .visual_slider::before  {content: ""; position: absolute; right: 0; bottom: 0; width: var(--skinw); aspect-ratio: 1; background-repeat: no-repeat; background-position: center; background-size: contain; pointer-events: none; z-index: 10;}
.skin-winter .visual_slider::before {background-image: url('../../images/season/winter_big_2024.png');}
.skin-christmas .visual_slider::before {background-image: url('../../images/season/christmas_big_2024.png');}
.skin-newyear .visual_slider::before {background-image: url('../../images/season/newyear_big_2025.png');}
.skin-lunar .visual_slider::before {background-image: url('../../images/season/lunar_big_2025.png');}

@media (min-width: 1025px) {
	[class*="skin"] .visual_slider .swiper-pagination-bullet-active .tit {text-shadow: 0 1px 5px rgba(0, 0, 0, .7);}
}

@media (max-width: 1024px) {
	[class*="skin"] .visual_slider {--skinw: max(33.867vw,  127px);}
	.skin-winter .visual_slider::before {background-image: url('../../images/season/winter_big_2024_mo.png');}
	.skin-christmas .visual_slider::before {background-image: url('../../images/season/christmas_big_2024_mo.png');}
	.skin-newyear .visual_slider::before {background-image: url('../../images/season/newyear_big_2025_mo.png');}
	.skin-lunar .visual_slider::before {background-image: url('../../images/season/lunar_big_2025_mo.png');}
}